.body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    flex-direction:column;
}
.div{
    background-color: lightgrey;
    padding:20px;
    height:200px;
    width:300px;
    overflow:auto;
}
.p{
    width:300px;
    overflow:auto;
}

.firstdiv{
    background-color:white;
    width:fit-content;
    padding: 20px;
    
    
}
.seconddiv{
    background-color:skyblue;
    width:fi-content;
    padding:10px;

}
